.error {
	background-color: #BC544B;
}

.vertical-tab {
	display: flex;
	flex-direction: row;
}

.resizer {
	background: rgb(231, 231, 231);
	width: 5px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	touch-action: none;

	&.isResizing {
		background: rgb(173, 173, 173);
	}
}

.rowDrag {
	cursor: move;
	color: #686868;
}

.drag {
	cursor: move;
}

.mask-container {
	position: relative;
	display: inline-block;
}

.child {
	width: 50vw;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.5;
}

.container:focus-visible {
outline: none;
}
