// #TODO: Make the fonts look right.

$hafla: #FF794D;
$border-color: #ddd;
$highlight-color: #EA4842;

@mixin fixed-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin fixed-square($size) {
  @include fixed-width($size);
  height: $size;
  min-height: $size;
  max-height: $size;
}

@mixin text-box {
  input {
    width: 90%;
    padding: 0 0.5em;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 0.2em;
  }
}

@mixin number {
  input {
    text-align: right;
  }
}

.circular {
  border-radius: 50%;
}

.clickable {
  cursor: pointer;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: 2rem;
  height: 2rem;
}

.content {
  padding: 1em;
}

.display-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overflow {
  overflow: hidden;
}

.cart {
  textarea {
    height: 6em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    padding: 0.75em 1em;
  }

  // #TODO: Introduce input styles across the project.
  textarea,
  input {
    font-size: 0.9em;
    border: 1px solid $border-color;

    &:focus {
      border-color: darken($color: $border-color, $amount: 20);
      outline: none;
    }

    &::selection {
      color: white;
      background-color: lighten($color: $hafla, $amount: 5);
    }
  }

  select {
    width: 100%;
    height: 1.5em;
    outline: none;
  }
}

.cart-header-text {
  --tw-text-opacity: 1;
  color: rgba(113, 113, 113, var(--tw-text-opacity));
  font-weight: 500;
}


.cart-with-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;

  .rounded-box {
    // #NOTE: The global value is overridden as per the designs.
    // #TODO: Check whether this could be the global value.
    border-radius: 0.65em;
  }

  .price-notes-icon {
    vertical-align: top;
  }

  .cart-item {
    .surface-web & {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: 0px;
      }

      &.header {
        padding-bottom: 0.5em;
      }

      .product-image {
        @include fixed-square(4rem);
      }

      &>div {
        padding: 0.5em 0.25em 0;

        &:nth-child(1) {
          margin-left: 1em;
        }

        &:nth-last-child(1) {
          margin-right: 1em;
        }

        &.product-link {
          @include fixed-width(3em);
        }

        &.item {
          flex-grow: 1;
          min-width: 10em;
        }

        &.actions {
          @include fixed-width(2em);
        }
      }
    }

    .role-crm.surface-web &>div {
      &.price {
        @include fixed-width(6em);
        @include text-box;
        @include number;
      }

      &.big-price {
        @include fixed-width(9em);
        @include text-box;
        @include number;
      }

      &.quantity {
        @include fixed-width(8em);
      }

      &.description {
        @include fixed-width(16em);
        @include text-box;
      }

      &.partner {
        @include fixed-width(8em);
      }
    }

    .role-customer.surface-web &>div {
      &.price {
        @include fixed-width(9em);
      }

      &.quantity {
        @include fixed-width(8em);
      }

      &.small-price {
        @include fixed-width(7em);
      }
    }

    .surface-mobile & {
      margin: 0.7em 0;
      padding: 0.6em;
      display: flex;
      flex-direction: column;
      line-height: 1.3em;
      border-radius: 1em;
      border: 1px solid #ddd;
      box-shadow: 0 0.6em 0.4em -0.4em #c4c0c0;
    }



  }

  .remove-button {
    @extend .circular;
    @extend .small;
    @extend .centered;
    @extend .clickable;

    background-color: #ddd;
  }
}

.row-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-with-space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column-1-spilt {
  width: 30%;
}

.column-2-spilt {
  width: 65%;
}

.text-align-right {
  justify-content: end;
  font-weight: 500;
}

.row {
  @extend .display-row;

  &>.spacer {
    width: 1em;
  }
}

.price-notes {
  margin: 1em;
}

.price-notes-margin{
  margin: 1em 1em 0 0;
}

.role-customer.surface-mobile {
  .product-image {
    margin: 1em;
  }

  .price {
    font-weight: 500;
  }

}

.mb-1 {
  margin-bottom: 1em;
}

.stretch {
  flex-grow: 1;
}

.spinner {
  @extend .display-row;
  @extend .centered;

  .button {
    min-width: 1.5em;
  }

  .display {
    @extend .display-row;
    @extend .stretch;
    @extend .centered;
  }
}

.product-name {
  padding: 1em;
  margin-top: -0.5em;
}


.role-customer.surface-mobile {
  .product-name {
    padding: 0.7em 0.5em 0.2em 0;
  }
}

.info {
  color: $highlight-color;
  font-size: 0.8em;

  .surface-mobile & {
    // #TODO: Find the right solution to make the container is just as tall as the text.
    line-height: 1em;
    padding-top: 1em;
  }

  .icon {
    display: inline-block;
    border-radius: 50%;
    border: 0.1em solid $highlight-color;
    @include fixed-width(1.7em);
    min-height: 1.7em;
    line-height: 1.5em;
    text-align: center;
    font-size: 0.7em;
    margin-right: 0.4em;
    margin-top: 0.1em;
    max-height: 1.7em;
    height: 1.7em;
  }
}

.cart-summary .content {
  @include fixed-width(49em);
}

.rfq-list,
.rrfq-list {
  margin-top: 1em;
  overflow: hidden;
  border: 1px solid $highlight-color;
}

.surface-web {
  .quote-request-button {
    float: right;
    margin: 1rem;
  }
}

.request-button-mobile {
  float: right;
  margin: 0.5rem;
}

.rrfq-button {
  width: fit-content;
  float: right;
  margin: 0.5rem;
}

.surface-mobile {
  & .rfq-list {
    border: 0px;
    box-shadow: 0px;
    margin-top: 0;

    .cart-item {
      border: 1px solid $highlight-color;
      margin-top: 1em;
      overflow: hidden;
    }
  }
}

.display-column {
  display: flex;
  flex-direction: column;
}

.disable-button {
  opacity: 0.6;
  cursor: not-allowed;
}

.quantity-display {
  text-align: center;
}

.item-display{
  .surface-web & {
    width: 70%;
  }
  .surface-mobile & {
    width: 100%;
    margin: 1.7em 1em;
  }
}

.selling-price-display{
  font-size: 0.8em;
  text-align: center;
}

.fontsize {
  font-size: medium;
}

.vertical-tab{
	display: flex;
	flex-direction: row;
}
